root = true

[*.tf]
indent_size = 2
indent_style = space

[*]
charset = utf-8
indent_style = tab
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.py]
indent_size = 4
indent_style = space

[*.sh]
indent_size = 2
indent_style = tab

[*.rb]
indent_size = 2
indent_style = space

[*.java]
indent_size = 4
indent_style = space

[*.go]
indent_size = 4
indent_style = space
